
.postWrapper {
    position: relative;
    padding-bottom: 26.25%;
    margin: 20px;
    
}
.postWrapper iframe {
    /* overflow: auto;
    border: 0;
    align-self: center;
    position: absolute;
    top: 10;
    left: 0; */
    width: 80%;
    height: 500px;
    border: none;
   
    
    
}
