
.post-container {
    @media screen and (min-width: 768px) {
        display: inline;
        color: red;
        
    }
}
.postWrapper {
    position: relative;
    padding-bottom: 26.25%;
    margin: 20px;
    
}
.postWrapper iframe {
    
    width: 80%;
    height: 500px;
    border: none;
   
    
    
}
.post-one iframe {
   @media screen and (min-width:860){
     padding: 500px; 
    
   }
   
   
   
}
 