.google-map iframe {
    width: 800px;
    height: 450px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

   
}
@media screen and (max-width:780px){
    .google-map iframe {
        width: 400px;
    }
}