.whats-app-container {
    display: flex; 
    justify-content: end;
    padding: 30px;
    cursor: pointer;
    
    
    
    
}
#app {
    position: fixed;
    bottom: 20px;
    right: 40px;
    background: #eaeef1;
    width: 110px;
    height: 50px;
    border-radius: 20px;
    padding: 0px 0px 5px 10px;
    z-index: 9999999;
}
